#navbar {
    background-color: #776b5d ;
}

#Portofolio {
    padding: 150px;
    background-color: #ebe3d5;
}

#Tentangsaya {
    background-color: plum   ;
}

#profil {
    background-color: #F3EEEA;
}